$color1: #ede0d4;
$color2: #e6ccb2;
$color3: #ddb892;
$color4: #b08968;
$color5: #7f5539;
$color6: #9c6644;
$background-color: ghostwhite;

@mixin color{
    .card:nth-child(5n+2){
      background-color: $color1;
    }
    .card:nth-child(5n+3){
      background-color: $color2;
    }
    .card:nth-child(5n+4){
      background-color: $color3;
    }
    .card:nth-child(5n+5){
      background-color: $color4;
    }
    .card:nth-child(5n+6){
      background-color: $color5;
    }
}
body{
    background-color: $background-color;
    width: 1000px;
    margin: auto;
    top: auto;
}
header {
    border-bottom: 1px solid #222222;
    left: 0;
    top: 0; /* Нижний угол */
    background: $background-color; /* Цвет фона */
    width: 1000px; /* Ширина слоя */
    padding-top: 20px;
     
    .logo {
        max-width: 50px;
        max-height: 50px;  
        img {
          margin-left: 5px;
          width: 50px;
          height: 50px;
        }        
    }
  
      .menu_top {
        list-style-type: none;
        > li {
          display: inline-block;
          margin-right: 645px;
          font-weight: 700;
          font-size: 20px;
          color: $color5
        }
      }
  
      .buttons {
        #liveToastBtn {
          font-size: 20px;
          color: #fff;
          font-weight: 500;
          background-color: $color2;
          border: none;
          padding: 9px 24px;
        }
        #liveToastBtn:hover {
          background-color: $color3;
        }
      }
    }
  
.min_img{
    width: 15px;
}
.card{
    img{
        width: 28%;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
}
.container-fluid{
    padding-top: 50px;
    padding-bottom: 50px;
    .row-flex {
        display: flex;
        flex-flow: row wrap;
    }
   .row{
       margin-bottom: 20px;
   }
   .card:hover{
       cursor: pointer;
       box-shadow: 0px 1px 4px 1px #a1a1a1;
   }
}
#footer {
    border-top: 1px solid #222222;
    left: 0;
    bottom: 0; /* Нижний угол */
    padding: 15px; /* Поля вокруг текста */
    color: #000000; /* Цвет текста */
    background: ghostwhite; /* Цвет фона */
    width: 100%; /* Ширина слоя */
    >p {
      width: 1000px;
      text-align:  left;
      margin: auto;
    }
  }
  